.cart {
    width: 30vw;
    overflow: hidden;
    margin: auto;
    padding: 10px 30px;
    border-radius: 1%;
    border: 1px solid #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 3.);
    text-align: center;
    background: linear-gradient(-135deg, rgb(216, 200, 129), rgb(255, 181, 197));
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.cart-container{
    display: flex;
    flex-direction: column;
}