
.card {
    height: 260px;
    width: 270px;
    overflow: hidden;
    margin: auto;
    padding: 10px 30px;
    border-radius: 3%;
    border: 1px solid #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 3.);
    text-align: center;
    background: linear-gradient(-135deg, rgb(216, 200, 129), rgb(255, 181, 197));
}

.card:hover {
    height: 400px;
    width: 270px;
    border-radius: 5%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 5.);
}

.card-header{
    position: relative;
}

.card-header img {
    position: relative;
    border-radius: 10%;
    display: block;
    height: 170px;
    width: 170px;
    object-fit: cover;
    margin: 15px auto;
    transition: all 0.3s ease;
}

.card-header button {
    position: absolute;
    right:4.56em;
    top:15em;
    padding: em 1.5em;
    color: gray;
    border: solid 1.5px beige;
    font-size: 70%;
    margin: 24px;
}

.card-header:before, .card-header:after {
    content: "";
    position: absolute;
    opacity: .7;
}

.card-header:after{
    border-radius: 10%;
    z-index: 20;
    background-color: yellow;
    width: 50px;
    height: 50px;
    top: -12px;
    right: 2px;
}

.card-header:before{
    width: 70px;
    height: 70px;
    bottom: 0;
    left: -10px;
    border-radius: 20px;
    background-color: rgb(238, 42, 98);
    transform: rotate(120deg);
}

.scroll{
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateY(-45px);
}

.card:hover .scroll{
    transform: translateY(0px);
    opacity: 1;
}

.scroll:nth-child(1){
    transition-delay: 0.5s;
}


.card-data:nth-child(1){
    font-size:30px;
    font-weight: bold;
    padding: 10px;
    line-height:25px;
}

.card-data{
    color: rgb(95, 94, 94);
}

.card-data h3{
    padding-top:27px;
}

.card-data p{
    margin: 5px;
}

button.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedContained.MuiButtonGroup-groupedContainedHorizontal.MuiButtonGroup-groupedContainedPrimary.css-sghohy-MuiButtonBase-root-MuiButton-root {
    border-color: transparent;
}

button.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    color: gray;
    border: solid 1.5px beige;
    margin: 5%;
    font-size: 70%;
}

