header {
    margin-bottom: 5em;
}

.container-logo {
    float: left;
    width: 50px;
}

.container-logo img {
    width: 100%;
    background: rgb(252, 235, 205);
    margin:10%;
}

header > div {
    justify-content: space-between;
        background: rgb(252, 235, 205);
        color: gray;
}

.navbar-list{
    list-style: none;
    display: flex;
    float: right;
}

.btns-container {
    display: flex;
    flex-direction: row;
}

span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Indeterminate.css-5ir5xx-MuiLinearProgress-bar1 {
    background: burlywood;
    height: 6px;
}

span.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-indeterminate.css-eglki6-MuiLinearProgress-root {
    background: bisque;
    height: 6px;
}

span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar2Indeterminate.css-1r8wrcl-MuiLinearProgress-bar2 {
    height: 6px;
    background: burlywood;
}

button#basic-button {
    color: inherit;
    border-color: currentColor;
}

ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
    background: rgb(255, 249, 237);
}